@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* select color body */
/* neutral */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}

/* primary */
:root {
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 95%);
    --Veru--White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}
.content-prime{
    width: 100%;
    margin: auto;
}
.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    padding-top: 1.5em;
}

        .text--grid__card,
        .paragraf--grid__card {
            margin: auto;
            text-align: center;
            max-width: 550px;
        }

        .title--grid__card {
            font-weight: 200;
            color: var(--Very-Dark-Blue);
        }

        .title--grid--two {
            font-weight: 600;
            color: var(--Very-Dark-Blue);
        }

        .paragraf--grid__text {
            font-weight: 200;
            color: var(--Very-Dark-Blue);
        }

.card--grid__semant {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    margin-top: 2em;
    padding-bottom: 2em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ".      card2     ."
                         "card1  card2     card4"
                         "card1  card3     card4"
                         ".      card3     .";

}

        .card {
            background: var(--Veru--White);
            width: 100%;
            overflow: hidden;
            height: 250px;
            box-shadow: -3px 3px 8px var(--Grayish-Blue),
                3px 3px 8px var(--Grayish-Blue);
        }
        .card1 {
            grid-area: card1;
        }

        .card2 {
            grid-area: card2;
        }

        .card3 {
            grid-area: card3;
        }

        .card4 {
            grid-area: card4;
        }


        .inline {
            width: 100%;
            height: 4px;
            background-color: var(--Cyan);
        }

        .inline-2 {
            background-color: var(--Red);
        }

        .inline-3 {
            background-color: var(--Orange);
        }

        .inline-4 {
            background-color: var(--Blue);
        }

        .info--card__grid {
            padding: 2em 2em;
            overflow: hidden;
            max-width: 100px;
            max-width: 350px;
        }

        .card--title__grid {
            color: var(--Very-Dark-Blue);
        }

        .card--paragraf__grid {
            color: var(--Very-Dark-Blue);
            margin-top: 0.5rem;
        }

        .card--profile__grid {
            display: flex;
            justify-content: flex-end;
            padding: 1em 1rem;
        }

@media screen and (max-width:1400px){
    .image--card{
        width: 23%;
        transform: translateY(-1em);
    }
    .team{
        transform: translateY(-1.2em);
    }
    .clarte{
        transform: translateY(-1.2em);
    }
    
}

@media screen and (max-width:1200px){
    .card--profile__grid{
        transform: translateY(-1em);
    }
    .image--card{
        width: 23%;
    }
    
}

@media screen and (max-width:992px) {
    .card {
        width: 100%;
        height: 95%;
        margin: auto;
    }
    .info--card__grid{
        overflow: hidden;
    }
    .card--title__grid{
        font-size: 20px;
    }
    .card--paragraf__grid{
        font-size: 12px;
    }
    .card--profile__grid{
        transform: translateY(25%);
    }
    .image--card{
        width: 21%;
    }
}

@media screen and (max-width:768px) {
    .card--grid__semant {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
        margin: auto;
    }

    .info--card__grid {
        overflow: hidden;
    }

    .card--title__grid {
        font-size: 18px;
    }

    .card--paragraf__grid {
        font-size: 14px;
    }
    .card--profile__grid{
        transform: translateY(25%);
    }
    .image--card {
        width: 20%;
    }
}

@media screen and (max-width:576px) {
    .card--grid__semant {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 70%;
        margin: auto;
    }
    .card--profile__grid{
        transform: translateY(25%);
    }
}

@media screen and (max-width:375px) {
    .container{
        width: 80%;
        margin: auto;
    }
    .text--grid__card{
        max-width: 350px;
        font-size: 12px;
        text-align: right;
        
    }
    .paragraf--grid__card{
        width: 100%;
        margin: auto;
        font-size: 14px;
    }
    .card--grid__semant {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: auto;
    }
    .card--profile__grid{
        transform: translateY(25%);
    }
}